*~
*.[ao]
*.l[ao]
*.lai
*.so
*.so.*
*.swp
aclocal.m4
autom4te.cache/
ChangeLog
COPYING
compile
config.*
!config.c
configure
depcomp
INSTALL
install-sh
libtool
ltmain.sh
missing
Makefile
Makefile.in
scim/code.h
scim/data.h
